body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.58 Helvetica;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
  min-width: 1920px;
  max-width: 1920px;
}

.element {
  position: relative;
  float: left;
  clear: both;
  z-index: 9;
  width: 185px;
  min-width: 185px;
  max-width: 185px;
  height: 671px;
  min-height: 671px;
  max-height: 671px;
  margin: 50px 0 0 6px;
  background-color: rgb(222, 222, 222);
}

.element .text {
  width: 192px;
  min-width: 192px;
  max-width: 192px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: 28px 0 0 2.90541%;
  font-family: Oxygen;
  line-height: 1.38;
  color: rgb(182, 24, 24);
}

.element .text:hover {
  text-decoration: underline;
  color: rgb(154, 34, 34);
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.text {
  float: left;
  font-size: 1em;
}

.text-2 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  position: relative;
  float: left;
  z-index: 2;
  width: 540px;
  min-width: 460px;
  max-width: 460px;
  height: 50px;
  min-height: 48px;
  max-height: 50px;
  margin: 8px 0 0 650px;
  border-radius: 5px;
  background-color: #443131;
  font: 700 3em/-1 Oxygen;
  text-align: center;
  color: #ffffff;
}

.container-1 {
  width: 1200px;
  height: 71px;
  max-height: 1080px;
  background-color: #443131;
}

.container-2 {
  clear: both;
  width: 1920px;
  height: 25px;
  min-height: 25px;
  max-height: 25px;
  margin: 2774px 0 0 -6px;
  background-color: #000000;
}

.image-1 {
  float: left;
  width: 78px;
  min-width: 78px;
  max-width: 78px;
  margin-top: -4px;
}

.image-2 {
  float: right;
  width: 74px;
  min-width: 74px;
  max-width: 74px;
  margin: -1px 0.07406% 0 0;
}

.text-1 {
  clear: both;
  width: 146px;
  min-width: 146px;
  max-width: 146px;
  height: 27px;
  min-height: 27px;
  max-height: 27px;
  margin: 23px 0 0 322px;
  font-family: Oxygen;
  line-height: 1.38;
  color: rgb(177, 68, 68);
}

.text-2 {
  clear: both;
  width: 1306px;
  min-width: 1306px;
  max-width: 1306px;
  height: 3336px;
  min-height: 3336px;
  max-height: 3336px;
  margin: 10px 0 0 322px;
  color: rgb(0, 0, 0);
}

.text-4 {
  position: relative;
  clear: both;
  z-index: 10;
  width: 165px;
  min-width: 165px;
  max-width: 165px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -615px 0 0 18px;
  line-height: 1.38;
  color: rgb(160, 56, 56);
}

.text-4:hover {
  text-decoration: underline;
  color: rgb(222, 51, 51);
}

.text-5 {
  width: 552px;
  min-width: 552px;
  max-width: 552px;
  height: 25px;
  min-height: 25px;
  max-height: 25px;
  margin-left: 45.70313%;
  font-family: Oxygen;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}