body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
}

.container .text {
  width: 552px;
  min-width: 552px;
  max-width: 552px;
  height: 25px;
  min-height: 25px;
  max-height: 25px;
  margin-left: 45.70313%;
  font-family: Oxygen;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

.element {
  position: relative;
  float: left;
  background-color: rgb(222, 222, 222);
}

.element .image {
  position: relative;
  float: left;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
}

.element .text {
  position: relative;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.text {
  float: left;
  font-size: 1em;
}

.text-3 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  text-align: center;
}

.container ._button {
  width: 460px;
  height: 48px;
  margin: 8px 0 0 650px;
  border-radius: 5px;
  background-color: #443131;
  font: 700 3em/-1 Oxygen;
  color: #ffffff;
}

.element ._button {
  width: 169px;
  min-width: 169px;
  max-width: 169px;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  margin: 33px 0 0 11px;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  line-height: 1.08;
  text-decoration: underline;
  color: rgb(186, 39, 39);
}

.element ._button:hover {
  text-decoration: none;
  color: rgb(142, 41, 41);
}

.container-1 {
  width: 1200px;
  min-width: 1920px;
  max-width: 1920px;
  height: 71px;
  max-height: 1080px;
  background-color: #443131;
}

.container-2 {
  clear: both;
  width: 100%;
  height: 25px;
  margin: 95px 0 0 -0.3125%;
  background-color: #000000;
}

.element-1 {
  clear: both;
  z-index: 7;
  width: 344px;
  min-width: 344px;
  max-width: 344px;
  height: 671px;
  min-height: 671px;
  max-height: 671px;
  margin: 50px 0 0 6px;
}

.element-2 {
  z-index: 26;
  width: 1322px;
  min-width: 1306px;
  max-width: 1322px;
  height: 819px;
  min-height: 819px;
  max-height: 819px;
  margin: -671px 0 0 405px;
}

.image-1 {
  float: left;
  width: 78px;
  margin-top: -4px;
}

.image-2 {
  float: right;
  width: 74px;
  margin: -1px 0.07406% 0 0;
}

.image-3 {
  z-index: 9;
  margin-top: 55px;
}

.image-4 {
  clear: both;
  z-index: 10;
  margin-top: 23px;
}

.image-5 {
  clear: both;
  z-index: 11;
  margin-top: 22px;
}

.image-6 {
  clear: both;
  z-index: 12;
  margin-top: 24px;
}

.image-7 {
  clear: both;
  z-index: 13;
  margin-top: 23px;
}

.image-8 {
  clear: both;
  z-index: 14;
  margin-top: 23px;
}

.text-1 {
  width: 165px;
  min-width: 165px;
  max-width: 165px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -635px 0 0 366px;
  color: rgb(163, 57, 57);
}

.text-10 {
  z-index: 21;
  width: 146px;
  min-width: 146px;
  max-width: 146px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -463px 0 0 25px;
  color: rgb(165, 48, 48);
}

.text-11 {
  z-index: 22;
  width: 146px;
  min-width: 146px;
  max-width: 146px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -425px 0 0 24px;
  color: rgb(165, 48, 48);
}

.text-12 {
  z-index: 23;
  width: 146px;
  min-width: 146px;
  max-width: 146px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -388px 0 0 24px;
  color: rgb(165, 48, 48);
}

.text-13 {
  z-index: 24;
  width: 146px;
  min-width: 146px;
  max-width: 146px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -350px 0 0 24px;
  color: rgb(165, 48, 48);
}

.text-14 {
  z-index: 25;
  width: 146px;
  min-width: 146px;
  max-width: 146px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -311px 0 0 25px;
  color: rgb(165, 48, 48);
}

.text-10:hover,
.text-11:hover,
.text-12:hover,
.text-13:hover,
.text-14:hover,
.text-9:hover {
  text-decoration: underline;
  color: rgb(201, 60, 60);
}

.text-2 {
  position: relative;
  clear: both;
  z-index: 28;
  width: 165px;
  min-width: 165px;
  max-width: 165px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -607px 0 0 27px;
  color: rgb(163, 57, 57);
}

.text-1:hover,
.text-2:hover {
  text-decoration: underline;
  color: rgb(219, 53, 53);
}

.text-3 {
  z-index: 8;
  width: 497px;
  min-width: 497px;
  max-width: 497px;
  height: 807px;
  min-height: 807px;
  max-height: 807px;
  margin-top: -210px;
  color: rgb(0, 0, 0);
}

.text-4 {
  clear: both;
  z-index: 15;
  width: 135px;
  min-width: 135px;
  max-width: 135px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -730px 0 0 37px;
  color: rgb(174, 43, 43);
}

.text-5 {
  z-index: 16;
  width: 135px;
  min-width: 135px;
  max-width: 135px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -693px 0 0 40px;
  color: rgb(174, 43, 43);
}

.text-6 {
  z-index: 17;
  width: 135px;
  min-width: 135px;
  max-width: 135px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -654px 0 0 40px;
  color: rgb(174, 43, 43);
}

.text-7 {
  z-index: 18;
  width: 135px;
  min-width: 135px;
  max-width: 135px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -615px 0 0 40px;
  color: rgb(174, 43, 43);
}

.text-8 {
  z-index: 19;
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -578px 0 0 40px;
  color: rgb(174, 43, 43);
}

.text-4:hover,
.text-5:hover,
.text-6:hover,
.text-7:hover,
.text-8:hover {
  text-decoration: underline;
  color: rgb(235, 81, 81);
}

.text-9 {
  z-index: 20;
  width: 146px;
  min-width: 146px;
  max-width: 146px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  margin: -501px 0 0 25px;
  color: rgb(165, 48, 48);
}